* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
}

#question h3,
.color h3,
.priceTitle h3 {
  font-weight: bold;
  text-align: center;
  margin: 0;
  padding: 30px;
}

.step {
  margin-bottom: 15px;
}
.none {
  display: none;
}

.bg-brown {
  background-color: brown;
}
.bg-beige {
  background-color: beige;
}
.bg-blue {
  background-color: blue;
}
.bg-black {
  background-color: black;
}
.bg-green {
  background-color: green;
}
.bg-red {
  background-color: red;
}
.bg-navy {
  background-color: navy;
}
.bg-cream {
  background-color: coral;
}

.step.active {
  display: block;
}

#steps {
  text-align: center;
  margin-bottom: 80px;
}

.step-controls {
  display: flex;
  flex-direction: row;
  gap: 260px;
  margin: 80px 0 30px 0;
}

.backButton,
.nextButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#backButton,
#nextButton {
  padding: 20px 30px;
  border: 1px solid black;
  border-radius: 25px;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#backButton:hover,
#nextButton:hover {
  background-color: #000;
  color: #fff;
}

#backButton:active,
#nextButton:active {
  background-color: black;
  color: #fff;
}

#categoryForm {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

#dresses,
#clothing,
#accessories {
  padding: 15px;
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
}

.active-button {
  background-color: black;
  color: white;
}

#categoryForm input:hover {
  color: #fff;
  background-color: #000;
}

#categoryForm input:active {
  color: #fff;
  background-color: #000;
}

#form3 {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
}

.price {
  flex-basis: 45%;
  padding: 15px;
  border: 1px solid #000;
  border-radius: 20px;
  cursor: pointer;
}

.price:active {
  color: #fff;
  background-color: #000;
}

.text-red {
  color: red;
}

.text-grey {
  color: rgb(168, 164, 164);
}

#colorForm {
  display: flex;
  flex-direction: row;
  gap: 1px;
  margin-top: 20px;
  justify-content: center;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 40px !important;
  height: 5px !important;
  background-color: #ccc !important;
  border-radius: 10px !important;
  display: inline-block !important;
  margin: 0 5px !important;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}
.dot.active {
  background-color: #776b6b !important;
}

.swiper-pagination.swiper-pagination-bullets {
  bottom: -5%;
}
.color-button {
  width: 40px;
  height: 40px;
  margin: 10px;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 30px;
  position: relative;
  background-clip: content-box;
  padding: 4px;
  box-sizing: border-box;
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.color-button:hover {
  transform: scale(1.2);
}

.color-button:focus {
  border-color: #000;
}

.color-button:focus::before {
  content: '\2713';
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 20px;
}

.loading-message {
  font-size: 12px;
  color: #fff;
  background-color: #000;
  border: 1px solid #000;
  border-radius: 20px;
  text-align: center;
  padding: 8px 45px;
}

/* product.css */

div#product-container {
  height: 85vh;
}
.viewProduct {
  margin: 25px;
}
.containerProduct {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.swiper-pagination.swiper-pagination-bullets {
  bottom: -10px;
}

/* Buton Stili */
#viewProduct {
  padding: 13px 80px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 20px;
  transition: background-color 0.3s ease-in-out;
}

#viewProduct:hover {
  background-color: #808080;
}

#viewProduct:active {
  color: #000;
  background-color: #fff;
}
.swiper-slide {
  text-align: center;
}

/* Varsayılan ok stilini sıfırlama */
.swiper-button-prev,
.swiper-button-next {
  width: auto !important;
  height: auto !important;
  background: none !important;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 30px !important;
  color: #000 !important;
  content: '⟵' !important;
}

.swiper-button-next::after {
  content: '⟶' !important;
}

/* responsive design */
@media screen and (max-width: 768px) {
  #viewProduct {
    display: none;
  }

  img.swiper-lazy {
    width: 70%;
  }

  h3.product-title {
    margin: 30px;
    font-size: 15px;
  }
  div#product-container {
    height: 75vh;
  }
}
